.video-gallery {
  display: flex;
  flex-wrap: wrap;
}

html,body {
  background-color: darkslategray;
}
.app h1 {
  color: white;
}

.video-gallery>* {
  flex: 0 0 25%;
  margin-bottom: -10px;
  height: 100%;
}

/* Mobile devices */
@media (max-width: 767px) {
  .video-gallery>* {
    flex-basis: 100%;
  }
}

/* Tablet Devices (landscape) */
@media (min-width: 768px) and (max-width: 1023px) {
  .video-gallery>* {
    flex-basis: 33.33%;
  }
}

/* Tablet Devices (portrait) */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .video-gallery>* {
    flex-basis: 50%;
  }
}


.video-tile {
  width: 100%;
  height: 100%;
}

.video-tile-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-tile:hover {
  cursor: pointer;
}

.video-tile img,
.video-tile video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
